In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=None
pd.options.display.max_rows=None

import scipy.stats as stats

In [9]:
df = pd.read_csv('sample_train_good_40k.csv')
df.head()

,Unnamed: 0,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,88744,0,Cash loans,F,N,Y,2,405000.0,1398901.5,95377.5,1291500.0,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,0.006671,-12893,-3494,-3165.0,-218,NaN,1,1,0,1,0,0,NaN,4.0,2,2,THURSDAY,18,0,0,0,0,0,0,Self-employed,NaN,0.569841,NaN,0.0464,0.1576,0.9816,NaN,NaN,0.0,0.0345,0.0833,NaN,0.1858,NaN,0.0353,NaN,0.1247,0.0473,0.1636,0.9816,NaN,NaN,0.0,0.0345,0.0833,NaN,0.1901,NaN,0.0368,NaN,0.132,0.0468,0.1576,0.9816,NaN,NaN,0.0,0.0345,0.0833,NaN,0.1891,NaN,0.0359,NaN,0.1273,NaN,block of flats,0.0618,Panel,No,0.0,0.0,0.0,0.0,-1783.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,200904,0,Cash loans,M,Y,N,0,225000.0,785398.5,54661.5,702000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.019101,-17858,-584,-8519.0,-1417,6.0,1,1,0,1,0,0,Drivers,2.0,2,2,FRIDAY,13,0,0,0,0,1,1,Business Entity Type 3,NaN,0.724698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-76.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,305523,0,Revolving loans,F,N,Y,1,90000.0,270000.0,13500.0,270000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.018209,-15342,-1941,-2988.0,-4324,NaN,1,1,0,1,1,0,High skill tech staff,3.0,3,3,MONDAY,14,0,0,0,0,0,0,Business Entity Type 3,0.803825,0.555394,0.753067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-142.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3,12704,0,Cash loans,M,N,N,2,90000.0,288873.0,19435.5,238500.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,With parents,0.002134,-8756,-822,-1338.0,-1436,NaN,1,1,0,1,0,0,Security staff,4.0,3,3,SATURDAY,11,0,0,0,0,1,1,Trade: type 7,NaN,0.553054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,270115,0,Cash loans,M,N,Y,0,90000.0,254700.0,24939.0,225000.0,Unaccompanied,Pensioner,Lower secondary,Married,House / apartment,0.022800,-22235,365243,-9093.0,-4980,NaN,1,0,0,1,0,0,NaN,2.0,2,2,FRIDAY,10,0,0,0,0,0,0,XNA,NaN,0.262258,0.329655,0.0722,0.0709,0.9876,0.83,0.0149,0.0,0.2069,0.1667,0.0,0.0509,0.0588,0.0727,0.0,0.0000,0.0735,0.0736,0.9876,0.8367,0.015,0.0,0.2069,0.1667,0.0,0.0521,0.0643,0.0757,0.0,0.000,0.0729,0.0709,0.9876,0.8323,0.015,0.0,0.2069,0.1667,0.0,0.0518,0.0599,0.0740,0.0,0.0000,reg oper account,block of flats,0.0653,"Stone, brick",No,1.0,1.0,1.0,1.0,-426.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [11]:
dtypes = df.apply(lambda col: col.dtype)
null_count = df.isnull().sum()
nuniques = df.apply(lambda col:col.nunique())

df_info = pd.DataFrame({'dtypes':dtypes,'null_count':null_count,'nuniques':nuniques})
df_info

                               dtypes  null_count  nuniques
TARGET                          int64           0         2
NAME_CONTRACT_TYPE             object           0         2
CODE_GENDER                    object           0         2
FLAG_OWN_CAR                   object           0         2
FLAG_OWN_REALTY                object           0         2
CNT_CHILDREN                    int64           0        10
AMT_INCOME_TOTAL              float64           0       647
AMT_CREDIT                    float64           0      3102
AMT_ANNUITY                   float64           1      8156
AMT_GOODS_PRICE               float64          35       473
NAME_TYPE_SUITE                object         172         7
NAME_INCOME_TYPE               object           0         8
NAME_EDUCATION_TYPE            object           0         5
NAME_FAMILY_STATUS             object           0         5
NAME_HOUSING_TYPE              object           0         6
REGION_POPULATION_RELATIVE    float64           0        81
DAYS_BIRTH                      int64           0     15027
DAYS_EMPLOYED                   int64           0      7560
DAYS_REGISTRATION             float64           0     12112
DAYS_ID_PUBLISH                 int64           0      5674
OWN_CAR_AGE                   float64       26533        52
FLAG_MOBIL                      int64           0         1
FLAG_EMP_PHONE                  int64           0         2
FLAG_WORK_PHONE                 int64           0         2
FLAG_CONT_MOBILE                int64           0         2
FLAG_PHONE                      int64           0         2
FLAG_EMAIL                      int64           0         2
OCCUPATION_TYPE                object       12499        18
CNT_FAM_MEMBERS               float64           0        11
REGION_RATING_CLIENT            int64           0         3
REGION_RATING_CLIENT_W_CITY     int64           0         3
WEEKDAY_APPR_PROCESS_START     object           0         7
HOUR_APPR_PROCESS_START         int64           0        24
REG_REGION_NOT_LIVE_REGION      int64           0         2
REG_REGION_NOT_WORK_REGION      int64           0         2
LIVE_REGION_NOT_WORK_REGION     int64           0         2
REG_CITY_NOT_LIVE_CITY          int64           0         2
REG_CITY_NOT_WORK_CITY          int64           0         2
LIVE_CITY_NOT_WORK_CITY         int64           0         2
ORGANIZATION_TYPE              object           0        58
EXT_SOURCE_1                  float64       22687     16948
EXT_SOURCE_2                  float64          83     32571
EXT_SOURCE_3                  float64        7908       727
APARTMENTS_AVG                float64       20288      1376
BASEMENTAREA_AVG              float64       23430      2620
YEARS_BEGINEXPLUATATION_AVG   float64       19500       172
YEARS_BUILD_AVG               float64       26570       125
COMMONAREA_AVG                float64       27918      1813
ELEVATORS_AVG                 float64       21270       157
ENTRANCES_AVG                 float64       20124       170
FLOORSMAX_AVG                 float64       19887       214
FLOORSMIN_AVG                 float64       27113       176
LANDAREA_AVG                  float64       23737      2356
LIVINGAPARTMENTS_AVG          float64       27332      1049
LIVINGAREA_AVG                float64       20069      3526
NONLIVINGAPARTMENTS_AVG       float64       27757       176
NONLIVINGAREA_AVG             float64       22021      1834
APARTMENTS_MODE               float64       20288       600
BASEMENTAREA_MODE             float64       23430      2658
YEARS_BEGINEXPLUATATION_MODE  float64       19500       147
YEARS_BUILD_MODE              float64       26570       125
COMMONAREA_MODE               float64       27918      1798
ELEVATORS_MODE                float64       21270        26
ENTRANCES_MODE                float64       20124        30
FLOORSMAX_MODE                float64       19887        24
FLOORSMIN_MODE                float64       27113        25
LANDAREA_MODE                 float64       23737      2363
LIVINGAPARTMENTS_MODE         float64       27332       552
LIVINGAREA_MODE               float64       20069      3530
NONLIVINGAPARTMENTS_MODE      float64       27757        82
NONLIVINGAREA_MODE            float64       22021      1855
APARTMENTS_MEDI               float64       20288       855
BASEMENTAREA_MEDI             float64       23430      2614
YEARS_BEGINEXPLUATATION_MEDI  float64       19500       152
YEARS_BUILD_MEDI              float64       26570       124
COMMONAREA_MEDI               float64       27918      1828
ELEVATORS_MEDI                float64       21270        41
ENTRANCES_MEDI                float64       20124        44
FLOORSMAX_MEDI                float64       19887        47
FLOORSMIN_MEDI                float64       27113        44
LANDAREA_MEDI                 float64       23737      2385
LIVINGAPARTMENTS_MEDI         float64       27332       755
LIVINGAREA_MEDI               float64       20069      3565
NONLIVINGAPARTMENTS_MEDI      float64       27757       103
NONLIVINGAREA_MEDI            float64       22021      1850
FONDKAPREMONT_MODE             object       27357         4
HOUSETYPE_MODE                 object       20043         3
TOTALAREA_MODE                float64       19307      3482
WALLSMATERIAL_MODE             object       20334         7
EMERGENCYSTATE_MODE            object       18942         2
OBS_30_CNT_SOCIAL_CIRCLE      float64         147        28
DEF_30_CNT_SOCIAL_CIRCLE      float64         147         7
OBS_60_CNT_SOCIAL_CIRCLE      float64         147        27
DEF_60_CNT_SOCIAL_CIRCLE      float64         147         7
DAYS_LAST_PHONE_CHANGE        float64           0      3337
FLAG_DOCUMENT_2                 int64           0         2
FLAG_DOCUMENT_3                 int64           0         2
FLAG_DOCUMENT_4                 int64           0         2
FLAG_DOCUMENT_5                 int64           0         2
FLAG_DOCUMENT_6                 int64           0         2
FLAG_DOCUMENT_7                 int64           0         2
FLAG_DOCUMENT_8                 int64           0         2
FLAG_DOCUMENT_9                 int64           0         2
FLAG_DOCUMENT_10                int64           0         1
FLAG_DOCUMENT_11                int64           0         2
FLAG_DOCUMENT_12                int64           0         1
FLAG_DOCUMENT_13                int64           0         2
FLAG_DOCUMENT_14                int64           0         2
FLAG_DOCUMENT_15                int64           0         2
FLAG_DOCUMENT_16                int64           0         2
FLAG_DOCUMENT_17                int64           0         2
FLAG_DOCUMENT_18                int64           0         2
FLAG_DOCUMENT_19                int64           0         2
FLAG_DOCUMENT_20                int64           0         2
FLAG_DOCUMENT_21                int64           0         2
AMT_REQ_CREDIT_BUREAU_HOUR    float64        5457         4
AMT_REQ_CREDIT_BUREAU_DAY     float64        5457         9
AMT_REQ_CREDIT_BUREAU_WEEK    float64        5457         8
AMT_REQ_CREDIT_BUREAU_MON     float64        5457        19
AMT_REQ_CREDIT_BUREAU_QRT     float64        5457         9
AMT_REQ_CREDIT_BUREAU_YEAR    float64        5457        17

In [12]:
num_cat_col = df_info[(df_info['dtypes']!='object')&(df_info['nuniques']<4)].index
num_col = df_info[(df_info['dtypes']!='object')&(df_info['nuniques']>=4)].index
cat_col = df_info[df_info['dtypes']=='object'].index

In [13]:
cat_col = list(num_cat_col) + list(cat_col)

In [14]:
target = 'TARGET'

In [15]:
cat_col.remove('TARGET')

## Numerical vs Target(cat)

In [16]:
num_col

Index(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [50]:
l = []
alpha=0.05
for col in num_col:
    not_paid = df[df[target] == 1][col].dropna()
    paid = df[df[target] == 0][col].dropna()
    t, p = stats.f_oneway(paid,not_paid)
    #print(col, 'p-value:', p)
    if p>alpha/2:
        l.append((col,1))
    else:
        l.append((col,0))

In [51]:
sig_num_col = [i[0] for i in l if i[1]==0]# ==0 checks for siginificant columns
print(sig_num_col)

['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'YEARS_BUILD_AVG', 'ELEVATORS_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'APARTMENTS_MODE', 'YEARS_BUILD_MODE', 'ELEVATORS_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LIVINGAREA_MODE', 'APARTMENTS_MEDI', 'YEARS_BUILD_MEDI', 'ELEVATORS_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [52]:
len(sig_num_col)

42

In [30]:
len(num_col)

70

### Categorical vs Target(cat)

In [31]:
print(cat_col)

['FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [47]:
l = []
for col in cat_col:
    contingency_table = pd.crosstab(df[col], df[target])
    chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
    print(col, 'p-value:', p)
    if p>alpha/2:
        l.append((col,1))
    else:
        l.append((col,0))

FLAG_MOBIL p-value: 1.0
FLAG_EMP_PHONE p-value: 2.594596026872699e-22
FLAG_WORK_PHONE p-value: 1.4823102427082756e-05
FLAG_CONT_MOBILE p-value: 0.9219107543870168
FLAG_PHONE p-value: 0.0003709840220043204
FLAG_EMAIL p-value: 0.4254980391567721
REGION_RATING_CLIENT p-value: 4.539398391114923e-31
REGION_RATING_CLIENT_W_CITY p-value: 4.2457219428995203e-32
REG_REGION_NOT_LIVE_REGION p-value: 0.5994270168381812
REG_REGION_NOT_WORK_REGION p-value: 0.6905875325722296
LIVE_REGION_NOT_WORK_REGION p-value: 0.915583839650314
REG_CITY_NOT_LIVE_CITY p-value: 1.345925266202451e-16
REG_CITY_NOT_WORK_CITY p-value: 1.960799481447602e-27
LIVE_CITY_NOT_WORK_CITY p-value: 2.7295200899119548e-12
FLAG_DOCUMENT_2 p-value: 0.3823945875495447
FLAG_DOCUMENT_3 p-value: 7.975942581118708e-17
FLAG_DOCUMENT_4 p-value: 0.12535611338695785
FLAG_DOCUMENT_5 p-value: 0.9336022013597525
FLAG_DOCUMENT_6 p-value: 7.753447739331764e-08
FLAG_DOCUMENT_7 p-value: 0.9850970786796339
FLAG_DOCUMENT_8 p-value: 0.5129891360535581
FLAG_DOCUMENT_9 p-value: 0.12864943125072453
FLAG_DOCUMENT_10 p-value: 1.0
FLAG_DOCUMENT_11 p-value: 0.694341801126922
FLAG_DOCUMENT_12 p-value: 1.0
FLAG_DOCUMENT_13 p-value: 0.02212631159071829
FLAG_DOCUMENT_14 p-value: 0.04375673334376194
FLAG_DOCUMENT_15 p-value: 0.8012078542498922
FLAG_DOCUMENT_16 p-value: 0.09527385550050466
FLAG_DOCUMENT_17 p-value: 0.7778190631659865
FLAG_DOCUMENT_18 p-value: 0.020169879665589606
FLAG_DOCUMENT_19 p-value: 0.8224409412870575
FLAG_DOCUMENT_20 p-value: 0.9184965613562369
FLAG_DOCUMENT_21 p-value: 0.2713163188327862
NAME_CONTRACT_TYPE p-value: 1.328753917544414e-09
CODE_GENDER p-value: 1.1777244744527152e-29
FLAG_OWN_CAR p-value: 3.238772269666266e-07
FLAG_OWN_REALTY p-value: 0.9688816278838668
NAME_TYPE_SUITE p-value: 0.24652475704283175
NAME_INCOME_TYPE p-value: 1.9458987133030954e-31
NAME_EDUCATION_TYPE p-value: 8.506174105758473e-27
NAME_FAMILY_STATUS p-value: 9.508528532786745e-12
NAME_HOUSING_TYPE p-value: 2.6062961198993163e-07
OCCUPATION_TYPE p-value: 3.322528389763443e-39
WEEKDAY_APPR_PROCESS_START p-value: 0.9118823165874191
ORGANIZATION_TYPE p-value: 1.305997420573746e-28
FONDKAPREMONT_MODE p-value: 0.022411491861900616
HOUSETYPE_MODE p-value: 0.004830101448085437
WALLSMATERIAL_MODE p-value: 0.000590528856991557
EMERGENCYSTATE_MODE p-value: 0.04465186070375188

In [48]:
sig_cat_col = [i[0] for i in l if i[1]==0]
print(sig_cat_col)

['FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_18', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

In [49]:
print(len(cat_col))
print(len(sig_cat_col))

50
24